In [1]:
print("hello")

hello

In [2]:
msg= "hi"
print(msg)

hi

In [4]:
isPretty= True
print(isPretty)

True

In [5]:
type(isPretty)

bool

In [17]:
user="Shreya"
print("hi \n" +user)

hi
Shreya

In [18]:
user="Shreya"
print("hi \n",user)

hi
 Shreya

In [19]:
input("hi shreya")

hi shreya hi

'hi'

In [5]:
int(input("enter the number"))

enter the number 6

6

In [1]:
data = input()

 hi

In [2]:
data

'hi'

In [3]:
print("hey ", data )

hey  hi

In [6]:
msg="hey how are u"
msg[1]

'e'

In [7]:
msg[-1]

'u'

In [8]:
msg[1:-1]

'ey how are '

In [12]:
# reverse a string
msg[::-1]

'u era woh yeh'

In [19]:
up=msg.upper()
up

'HEY HOW ARE U'

In [20]:
up.lower()

'hey how are u'

## list-tuple-dictionary

In [21]:
thislist=["apple","banana","orange"]

In [22]:
print(thislist)

['apple', 'banana', 'orange']

In [24]:
thistuple=("apple","banana","orange")
thistuple

('apple', 'banana', 'orange')

In [34]:
thisdict={"k1":1, "k2":2, "k3":3,"k4":4}
print(thisdict.values())

dict_values([1, 1, 1, 1])

In [36]:
for i in thisdict.values():
    print(i)

1
1
1
1

In [37]:
for i in thisdict.keys():
    print(i)

k1
k2
k3
k4

In [39]:
for i in thislist:
    print(i)

apple
banana
orange

In [43]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [46]:
counter=1
while(counter<=10):
    print(counter)
    counter=counter+1
print("end while loop")

1
2
3
4
5
6
7
8
9
10
end while loop

In [51]:

for counter in range(1,11):
    counter=counter+1
    print(counter)
    
print("end for loop")

2
3
4
5
6
7
8
9
10
11
end for loop

In [52]:

for counter in range(1,11):
    print(counter)
    counter=counter+1
print("end for loop")

1
2
3
4
5
6
7
8
9
10
end for loop

In [53]:
morefruits=["pear","melon","mangoe"]
thislist.extend(morefruits)

In [54]:
thislist

['apple', 'banana', 'orange', 'pear', 'melon', 'mangoe']

In [55]:
thislist.append("cherry")

In [56]:
thislist

['apple', 'banana', 'orange', 'pear', 'melon', 'mangoe', 'cherry']

In [59]:
thislist.insert(1,"kiwi")
thislist

['apple',
 'kiwi',
 'kiwi',
 'banana',
 'orange',
 'pear',
 'melon',
 'mangoe',
 'cherry']

In [69]:
cart=[]
for i in range(5):
    product=input("enter product \n")
    if len(product)==0:
        continue
    cart.append(product)
print("user has added", len(cart)," items to the cart which are : ")
for item in cart:
    print(item)

enter product
 7
enter product
 8
enter product
 4
enter product
 2
enter product
 9

user has added 5  items to the cart which are :
7
8
4
2
9

### list of list

In [70]:
hitems=[["tv","ac"],["sofa","bed"],["kitchenware"]]

In [79]:
hitems[1][1]

'bed'

In [81]:
thistuple[1]

'banana'

In [82]:
thislist[1]="grapes"

In [83]:
thislist

['apple',
 'grapes',
 'kiwi',
 'banana',
 'orange',
 'pear',
 'melon',
 'mangoe',
 'cherry']

In [84]:
thistuple[1]="hah"

TypeError: 'tuple' object does not support item assignment

In [89]:
thislist.sort()
thislist

['apple',
 'banana',
 'cherry',
 'grapes',
 'kiwi',
 'mangoe',
 'melon',
 'orange',
 'pear']

In [93]:
for k,v in thisdict.items():
    print(k,"  ",v)

k1    1
k2    1
k3    1
k4    1

In [95]:
thisdict["k5"]=5
thisdict.items()

dict_items([('k1', 1), ('k2', 1), ('k3', 1), ('k4', 1), ('k5', 5)])

## loops and conditions

In [96]:
rank= int(input("enter ur rank to know ur division"))
if rank==1:
    print("you got first")
elif rank==2:
    print("u r second")
elif rank==3:
    print(" u r third")
else:
    print("try next time")

enter ur rank to know ur division 5

try next time

In [97]:
color="red"
color

'red'

In [98]:
del color

In [99]:
color

NameError: name 'color' is not defined

### Functions !!!!

In [117]:
def printmsg():
    print("hey")
    return msg

In [118]:
printmsg()

hey

'hey how are u'

In [110]:
def saymymsg(msg):
    print("you said",msg)
    return msg

In [111]:
saymymsg("hellloo")

you said hellloo

'hellloo'

In [112]:
saymymsg(printmsg())

hey
you said None

In [122]:
print("i said",printmsg())

hey
i said hey how are u

### more in details!!!!

In [123]:
def printdetails(name,age,address="Not Available"):
    print("hi {} , you age is {} and your address is {} ".format(name,age,address))

In [125]:
printdetails("Shreya",30,"UAE")

hi Shreya , you age is 30 and your address is UAE

## lambda expression!!

In [126]:
n= lambda x:x+1

In [127]:
n(5)

6

In [132]:
summ= lambda x,y:x+y

In [133]:
summ(78937865,3598679)

82536544

In [135]:
type(summ)

function

## Class and objects:

In [149]:
class Dog:
    def _init_(self):
        print("hey hey")
    def bark(self):
        print("start barkinh")
    def run(self):
        print("start running")

In [150]:
tommy=Dog() # creating object and calling constructre
tommy.bark()
tommy.run()

start barkinh
start running

In [153]:
tommy._init_()

hey hey

In [154]:
class powermath:
    def Accept(self):
        self.x=int(input("enter value"))
        self.y=int(input("enter power"))
    def showpower(self):
        self.result=self.x**self.y
        print("Result:", self.result)

In [155]:
mp=powermath()
mp.Accept()
mp.showpower()

enter value 5
enter power 9

Result: 1953125

In [14]:
bolly=open(r"C:\Users\NAVARCH\OneDrive\upgrap\Course 4 - Big Data and SQL\bollywood.csv","r")
for line in bolly:
    chunks=line.split(",")
    print(chunks[-1])

8
10
5
8
8
4
8
5
4
4
5
10
5
5
5
10
5
5
5
5
8
10
5
8
5
5
10
5
4
5
5
5
4
5
8
5
8
8
5
5
5
4
8
5
8
5
4
8
8
5
5
5
10
5
8
5
8
5
8
10
8
8

## NUmpy

In [44]:
import numpy as np

In [45]:
newlist=range(200)

In [46]:
newarray=np.array(newlist)

In [47]:
import sys
siz=sys.getsizeof(1)
siz

28

In [48]:
len(newlist)*siz

5600

In [49]:
newarray.size*newarray.itemsize

800

In [50]:
newarray.itemsize

4

In [61]:
new=newarray.reshape(10,20)

In [55]:
print(newarray.shape)

(200,)

In [62]:
print(new.shape)

(10, 20)

In [64]:
new.sort()
new[1,:]

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39])

In [65]:
 input_str = 'I love Data Science & Python'

In [70]:
strtolist=input_str.split("&")

In [71]:
strtolist

['I love Data Science ', ' Python']

In [73]:
listn=['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
listtostr=" & ".join(listn)
listtostr

'Pythons syntax is easy to learn & Pythons syntax is very clear'

In [77]:
word=[1,2,3,4]

In [79]:
word[ : ]=[]
word

[]